html,
body{
    height: 100%;
}
.main{
    display:grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-areas: "left right nav";
}
.nav{
    grid-area: "nav";
}
.left{
    grid-area: "left";
}
.right{
    grid-area: "right";
}